{{#namespace name="Wurst"}}
<div class="row">
    <div class="span12">
        <div class="jumbotron">
            <span class="mhp-logo-big"></span>
            <p class="lead">
                {{translation key="asd"}}
            </p>
            {{#if guest}}
                <p class="signup">
                    <a class="btn btn-large btn-success">{{translation key="Sign up now, {{name}}!"}}</a><br/>
                    <span class="shadow"></span>
                </p>
            {{/if}}
        </div>
    </div>
</div>

{{#namespace name="hans"}}
<div class="row">
    <div class="span4 offset2">
        <h4 style="margin-left: 25px">{{translation key="Tracking" namespace=""}}</h4>
        <ul>
            <li>{{translation key="All your shipments in one place."}}</li>
        </ul>
    </div>

    <div class="span4">
        <h4 style="margin-left: 25px" test="{{translation key="ads"}}">{{#translator}}{{translation key="Monitoring"}}{{/translator}}</h4>
        <ul>
            <li>{{translation key="Stay up-to-date with our Notification Center."}}</li>
        </ul>
    </div>

</div>
{{/namespace}}
<div></div>
{{/namespace}}
