<!DOCTYPE html>
<html>
<head>
    <title>translate.me demo</title>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script type="text/javascript" src="/translate.me/api/json/translations"></script>
    <script type="text/javascript" src="/js/underscore/underscore.js"></script>

    <script type="text/javascript" src="/translate.me/api/script/translations"></script>
    <script type="text/javascript" src="/translate.me/api/script/stats"></script>

    <script type="text/javascript" src="/translate.me/translate.js"></script>
    <script type="text/javascript">
        $(function () {
            _.setPreferredLocale('de');
            $('#helloworld').text(_.translate("Hello World", "example"));
        });
    </script>
</head>
<body>
    <div id="helloworld"></div>
</body>
</html>
