<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>i18n Administration UI</title>

    <link rel="stylesheet" href="/i18nAdmin/css/bootstrap.min.css" type="text/css" />
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/i18nAdmin/js/bootstrap.min.js"></script>

    <script src="/i18nAdmin/js/underscore-min.js"></script>
    <script src="/i18nAdmin/js/backbone-min.js"></script>

    <script src="/i18nAdmin/js/App.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Translate.me</a>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search for strings">
            </form>
        </div>
    </div>
</div>

<div class="container" id="content">

    <h1>Translate Strings</h1>
    <p>Use this small UI to translate your App into the selected language.</p>

    <div class="row">
        <div class="span6" id="selectPath"></div>
        <div class="span6" style="text-align: right;" id="selectLang"></div>
    </div>

    <div class="row">
        <div class="span12" id="table"></div>
    </div>

</div>
</body>
</html>
